.DS_Store
.ipynb_checkpoints
.svelte-kit
*.zip
build
data/*.jpg
data/index-full.csv
data/index-full.json
data/index-page-*.json
data/machine-classifications.json
data/vectors.json
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
