:root {
	--font: "Helvetica", "Arial", sans-serif;
	--unit: 16px;
}

* {
	margin: 0;
	padding: 0;
}

h1, p {
	font-family: var(--font);
	font-size: var(--unit);
	font-weight: 400;
	line-height: calc(var(--unit) * 1.5);
}